In [31]:
import pandas as pd
dados = pd.read_csv('athlete_events.csv')
dados.head()

   ID                      Name  ...                             Event  Medal
0   1                 A Dijiang  ...       Basketball Men's Basketball    NaN
1   2                  A Lamusi  ...      Judo Men's Extra-Lightweight    NaN
2   3       Gunnar Nielsen Aaby  ...           Football Men's Football    NaN
3   4      Edgar Lindenau Aabye  ...       Tug-Of-War Men's Tug-Of-War   Gold
4   5  Christine Jacoba Aaftink  ...  Speed Skating Women's 500 metres    NaN

[5 rows x 15 columns]

In [32]:
faltantes = dados.isnull().sum()
print(faltantes)

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [33]:
porcentagem = (dados.isnull().sum() / len(dados['ID'])*100)
print(porcentagem)

ID         0.000000
Name       0.000000
Sex        0.000000
Age        3.494445
Height    22.193821
Weight    23.191180
Team       0.000000
NOC        0.000000
Games      0.000000
Year       0.000000
Season     0.000000
City       0.000000
Sport      0.000000
Event      0.000000
Medal     85.326207
dtype: float64

In [35]:
dados['Medal'].fillna('Nenhuma', inplace=True)
dados['Height'].fillna('Não Informado', inplace = True)
dados['Weight'].fillna('Não informado', inplace=True)
dados['Age'].fillna('Não infomado', inplace = True)

In [36]:
porcentagem = (dados.isnull().sum() / len(dados['ID'])*100)
print(porcentagem)

ID        0.0
Name      0.0
Sex       0.0
Age       0.0
Height    0.0
Weight    0.0
Team      0.0
NOC       0.0
Games     0.0
Year      0.0
Season    0.0
City      0.0
Sport     0.0
Event     0.0
Medal     0.0
dtype: float64

In [37]:
dados.head()

   ID                      Name  ...                             Event    Medal
0   1                 A Dijiang  ...       Basketball Men's Basketball  Nenhuma
1   2                  A Lamusi  ...      Judo Men's Extra-Lightweight  Nenhuma
2   3       Gunnar Nielsen Aaby  ...           Football Men's Football  Nenhuma
3   4      Edgar Lindenau Aabye  ...       Tug-Of-War Men's Tug-Of-War     Gold
4   5  Christine Jacoba Aaftink  ...  Speed Skating Women's 500 metres  Nenhuma

[5 rows x 15 columns]