In [3]:
import pandas as pd
dados = pd.read_csv('Admission_Predict(2).csv')
dados.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]

In [12]:
#Definindo as vari√°veis preditoras e target
y = dados['Chance of Admit ']
x = dados.drop('Chance of Admit ', axis=1)

In [26]:
#Escolha dos valores
valores = {'alpha':[0.001,0.01,0.1,0.5,1,1.5,2,2.5,5,10,15,20,25]}

In [27]:
def modelos():
  from sklearn.linear_model import Ridge
  from sklearn.model_selection import GridSearchCV 
  ridge = Ridge()
  grid = GridSearchCV(estimator=ridge, param_grid=valores, cv=5)
  grid.fit(x,y)
  print('Melhor alpha:',grid.best_estimator_.alpha)
  print('Melhor Resultado:',grid.best_score_)

In [28]:
modelos()

Melhor alpha: 0.001
Melhor Resultado: 0.7803576401404675