In [1]:
import pandas as pd
arquivo = pd.read_csv('kc_house_data.csv')
arquivo.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [2]:
arquivo.drop('id', axis=1, inplace = True)
arquivo.drop('date', axis=1, inplace = True)
arquivo.drop('sqft_living', axis=1, inplace = True)
arquivo.drop('sqft_lot', axis=1, inplace = True)
arquivo.drop('zipcode', axis=1, inplace = True)
arquivo.drop('lat', axis=1, inplace = True)
arquivo.drop('long', axis=1, inplace = True)

In [3]:
arquivo.head()

      price  bedrooms  bathrooms  ...  yr_renovated  sqft_living15  sqft_lot15
0  221900.0         3       1.00  ...             0           1340        5650
1  538000.0         3       2.25  ...          1991           1690        7639
2  180000.0         2       1.00  ...             0           2720        8062
3  604000.0         4       3.00  ...             0           1360        5000
4  510000.0         3       2.00  ...             0           1800        7503

[5 rows x 14 columns]

In [4]:
from sklearn.linear_model import LinearRegression
arquivoL = LinearRegression()
print(arquivoL)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [5]:
y = arquivo['price']
x = arquivo.drop('price', axis=1)

In [6]:
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y, test_size = 0.30, random_state = 14)

In [7]:
arquivoL.fit(x_treino, y_treino)
resultado = arquivoL.score(x_teste,y_teste)
print(resultado)

0.6538883524272174

In [8]:
from sklearn.linear_model import Ridge
arquivoR = Ridge(alpha = 10)

In [9]:
arquivoR.fit(x_treino, y_treino)
resultadoR = arquivoR.score(x_teste,y_teste)
print(resultadoR)

0.6545953664826085

In [10]:
from sklearn.linear_model import Lasso
arquivoLa = Lasso(alpha = 500, max_iter = 1000, tol = 0.1)
arquivoLa.fit(x_treino,y_treino)
resultadoLa = arquivoLa.score(x_teste,y_teste)
print(resultadoLa)

0.6547246381637577

In [28]:
from sklearn.linear_model import ElasticNet
arquivoE = ElasticNet(alpha=0.001, l1_ratio = 0.5, tol=0.1, max_iter=5000)
arquivoE.fit(x_treino,y_treino)
resultadoE= arquivoE.score(x_teste,y_teste)
print(resultadoE)

0.6544673584571341