In [19]:
import pandas as pd
dados = pd.read_csv('Admission_Predict.csv')
dados.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]

In [20]:
#Definindo as variáveis preditoras e target
y = dados['Chance of Admit ']
x = dados.drop('Chance of Admit ', axis = 1)

In [21]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import ElasticNet

In [22]:
#Definindo os valores dos parâmetros
valores = {'alpha':[0.1,0.5,1,2,5,10,25,50,100,150,200300,500,750,1000,1500,2000,3000,5000],'l1_ratio':[0.02,0.05,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]}

In [ ]:
#Criando o modelo
elasticnet = ElasticNet()
randomized = RandomizedSearchCV(estimator = elasticnet, param_distributions=valores,n_iter=150, cv=5, random_state=15)
randomized.fit(x,y)

In [24]:
#Mostrando os resultados
print('Melhor Resultado:', randomized.best_score_)
print('Melhor Alpha....:', randomized.best_estimator_.alpha)
print('Melhor L1.......:', randomized.best_estimator_.l1_ratio)

Melhor Resultado: 0.7510290719875712
Melhor Alpha....: 0.1
Melhor L1.......: 0.02