In [3]:
import pandas as pd
pd.set_option('display.max_columns', 21 )
arquivo = pd.read_csv('kc_house_data.csv')
arquivo.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [8]:
arquivo.drop('date', axis=1, inplace=True)
arquivo.drop('zipcode', axis=1, inplace=True)
arquivo.drop('lat', axis=1, inplace=True)
arquivo.drop('long', axis=1, inplace=True)
arquivo.drop('waterfront', axis=1, inplace=True)
arquivo.drop('view', axis=1, inplace=True)
arquivo.drop('id', axis=1, inplace=True)

In [9]:
arquivo.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,3,7,1180,0,1955,0,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,3,7,2170,400,1951,1991,1690,7639
2,180000.0,2,1.00,770,10000,1.0,3,6,770,0,1933,0,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,5,7,1050,910,1965,0,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,3,8,1680,0,1987,0,1800,7503

In [11]:
from sklearn.linear_model import LinearRegression
modelo = LinearRegression()
print(modelo)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
y = arquivo['price']
x = arquivo.drop('price', axis = 1)

In [16]:
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y, test_size = 0.30, random_state = 14)

In [17]:
modelo.fit(x_treino, y_treino)
resultado = modelo.score(x_teste, y_teste)
print(resultado)

0.6270306097592567

In [20]:
from sklearn.linear_model import Ridge
modeloRidge = Ridge(alpha=1)
modeloRidge.fit(x_treino, y_treino)
ridgeResultado = modeloRidge.score(x_teste, y_teste)
print(ridgeResultado)

0.6270310102353873