In [31]:
import pandas as pd
dados = pd.read_csv('Admission_Predict.csv')
dados.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]

In [32]:
y = dados['Chance of Admit ']
x = dados.drop('Chance of Admit ', axis=1)

In [33]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [37]:
def todos(a, b):
  from sklearn.linear_model import LinearRegression
  from sklearn.linear_model import Lasso
  from sklearn.linear_model import Ridge
  from sklearn.linear_model import ElasticNet
  x = a
  y = b
  linear = LinearRegression()
  ridge = Ridge()
  lasso = Lasso()
  elastic = ElasticNet()
  kfold = KFold(shuffle=True)
  linearR = cross_val_score(linear, x, y, cv = kfold)
  lassoR = cross_val_score(lasso, x, y, cv = kfold)
  ridgeR = cross_val_score(ridge, x, y, cv = kfold)
  elasticR = cross_val_score(elastic, x, y, cv = kfold)
  regressoes = {'Linear:':linearR.mean(),'Ridge:':ridgeR.mean(),'Lasso:':lassoR.mean(),'Elastic:':elasticR.mean()}
  max_pontuation = max(regressoes, key=regressoes.get)
  print('Linear Regression:',linearR.mean(),'\nRidge:',ridgeR.mean(),'\nLasso:',lassoR.mean(),'\nElasticNet:',elasticR.mean())
  print('Pontuação máxima:',max_pontuation, '- com o valor:', regressoes[max_pontuation])

In [38]:
todos(x,y)

Linear Regression: 0.8042312023573077
Ridge: 0.7993073170447194
Lasso: 0.2646370227447662
ElasticNet: 0.5353852218260035
Pontuação máxima: Linear: - com o valor: 0.8042312023573077