In [1]:
import pandas as pd
dados = pd.read_csv('kc_house_data.csv')
dados.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [2]:
dados.drop('id', axis=1, inplace=True)
dados.drop('date', axis=1, inplace=True)
dados.drop('zipcode', axis=1, inplace=True)
dados.drop('lat', axis=1, inplace=True)
dados.drop('long', axis=1, inplace=True)

In [3]:
dados.head()

      price  bedrooms  bathrooms  ...  yr_renovated  sqft_living15  sqft_lot15
0  221900.0         3       1.00  ...             0           1340        5650
1  538000.0         3       2.25  ...          1991           1690        7639
2  180000.0         2       1.00  ...             0           2720        8062
3  604000.0         4       3.00  ...             0           1360        5000
4  510000.0         3       2.00  ...             0           1800        7503

[5 rows x 16 columns]

In [4]:
y = dados['price']
x = dados.drop('price', axis=1)

In [5]:
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y, test_size = 0.30)

In [6]:
def modelosregress√£o(a, b, c, d):
  from sklearn.linear_model import LinearRegression
  from sklearn.linear_model import Ridge
  from sklearn.linear_model import Lasso
  from sklearn.linear_model import ElasticNet
  x_treino = a
  y_treino = b
  x_teste = c
  y_teste = d
  linear = LinearRegression()
  ridge = Ridge()
  lasso = Lasso()
  elastic = ElasticNet()
  linear.fit(x_treino,y_treino)
  ridge.fit(x_treino,y_treino)
  lasso.fit(x_treino, y_treino)
  elastic.fit(x_treino,y_treino)
  linearR = linear.score(x_teste,y_teste)
  ridgeR = ridge.score(x_teste,y_teste)
  lassoR = lasso.score(x_teste,y_teste)
  elasticR = elastic.score(x_teste,y_teste)
  print('Linear Regression....: ',linearR, '\nRidge Regression.....: ',ridgeR, '\nLasso Regression.....: ',lassoR, '\nElasticNet Regression: ',elasticR )

In [7]:
modelosregress√£o(x_treino,y_treino,x_teste,y_teste)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 321276782167963.06, tolerance: 203906596723.9189
  positive)

Linear Regression....:  0.6563487306701835
Ridge Regression.....:  0.6562945420456326
Lasso Regression.....:  0.6563472317469669
ElasticNet Regression:  0.6094662462428244

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 412164152992787.4, tolerance: 203906596723.9189
  positive)